
.LoginPage{
    background-color: azure;
    padding: 5%;  
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 30vh;
    
    
    

}
.LoginPage button {
    width: 70px;
    height: 30px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color:rgb(13, 228, 160);
    border-radius: 7px;
    margin-top: 5%;
}
